*{
	margin: 0;
	padding: 0;
	font-family: 'Cookie', cursive;
	font-family: 'Lato', sans-serif;
}
.header{
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4, 9, 30, 0.5)), url(images/bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
}

nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
}

nav a h1{
	width: 100%;
	font-size: 40px;
	display: inline-block;
}

.nav-links{
	flex: 1;
	text-align: right;
}

.nav-links ul li{
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
} 

.nav-links ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 13px;
}

.nav-links ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #f44336;
	display: block;
	margin: auto;
	transition: 0.5s;
}

.nav-links ul li:hover::after{
	width: 100%;
}

.text-box{
	width: 75%;
	color: #fff;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
	text-align: center;
	flex-basis: 33%;
	background: #000;
	border-radius: 20px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	opacity: 80%;
}
.text-box h1{
	font-size: 70px;
	font-family: 'Cookie', cursive;
	color: #fff;
}

.text-box h2{
	position: absolute;
	top: 15%;
	left: 40%;
	font-size: 16px;
}

.text-box p{
	margin: 0px 0 40px;
	font-size: 14px;
	color: #fff;
}

.hero-btn {
	display: inline-block;
	text-decoration: none;
	color: #fff;
	border: 1px solid #fff;
	padding: 12px 34px;
	font-size: 13px;
	background: transparent;
	position: relative;
	cursor: pointer;
}

.hero-btn:hover{
	border: 1px solid #f44336;
	background: #f44336;
	transition: 1s;
}

nav .fa{
	display: none;
}

@media(max-width: 700px){
	.text-box h1{
		font-size: 60px;
	}

	.text-box h2{
		position: absolute;
		left: 15%;
	}

	.nav-links ul li{
		display: block;
	}
	.nav-links {
		position: absolute;
		background: #f44336;
		height: 100vh;
		width: 200px;
		top: 0;
		right: -200px;
		text-align: left;
		z-index: 2;
		transition: 1s;
	}

	nav .fa{
		display: block;
		color: #fff;
		margin: 10px;
		font-size: 22px;
		cursor: pointer;
	}

	nav-links ul{
		padding: 30px;

	}


}

/*course*/

.course {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4, 9, 30, 0.5)), url(images/p4-lankap.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;

}

/*.sub-course {
	width: 60%;
	position: a
	flex-basis: 50%;
	background: #000;
	border-radius: 20px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
}*/

h1{
	font-size: 40px;
	font-family: 'cookie', cursive;
	font-weight: 600;
	padding-top: 120px;
	color: #fff;
}

p {
	color: #fff;
	font-size: 28px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin: 5%;
	display: flex;
	justify-content: space-between;

}

.course-col {
	width: 32%;
	flex-basis: 33%;
	background: rgba(4, 9, 30, 0.8);
	border-radius: 20px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing: border-box;
	opacity: 90%;
	margin: auto;
}

.course-col h3{
	font-size: 20px;
	color:#fff;
}

.course-col p {
	color: #fff;
	font-size: 15px;
}

@media(max-width: 700px){
	.row {
		flex-direction: column;	
	}
}

/*galeri*/

.galeri  {
	position: relative;
	text-align: center;
	margin: auto;

}

.galeri h1{
	color: #000;
	font-family: 'Cookie', cursive;
	font-size: 60px;
}

.galeri-col {
	flex-basis: 15%;
	border-radius: 20px;
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
	margin: auto;
}

.galeri-col img{
	width: 100%;
}

.layer {
	background: transparent;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: 0.5s;
	color: transparent;
}

.layer:hover {
	background: rgba(112, 108,97,0.5);
}

.layer h3{
	flex-basis: 10%;
	background: #E1F4F3;
	border-radius: 20px;
	margin: 5%;
	margin-right: 5%;
	padding: 10px 6px;
	box-sizing: border-box;
	width: 100%;
	font-weight: 500;
	color: #333333;
	font-size: 13px;
	bottom: 0;
	left: 45%;
	transform: translateX(-50%);
	position: absolute;
	opacity: 0;
	transition: 0.5s;
}

.layer:hover h3{
	bottom: 49%;
	opacity: 1;
}

/* Form Section */
.akad {
	min-height: 100vh;
	width: 100%;
	background-image: linear-gradient(rgba(4, 9, 30, 0.5),rgba(4, 9, 30, 0.5)), url(images/bg.jpg);
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
}

.waktu {
	width: 60%;
	left: 2%;
	position: absolute;
}

.map{
	right: 2%;
	position: absolute;
}


.card {
	opacity: 0.8;
}


.map-container-section {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.map-container-section iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* End of Form Section */